//  PRIMARY COLORS
$color-primary: #034f84;
$color-primary-light: #92a8d1;
$color-primary-dark: #022c49;

$color-secondary: #55c57a;
$color-secondary-light: #7ed56f;
$color-secondary-dark: #087523;

// PRIMARY TEXT
$text-color-0: #fff;
$text-color-1: #f7f7f7;
$text-color-2: #eee;
$text-color-3: #f0f0f0;
$text-color-4: #999;
$text-color-5: #777;
$text-color-6: #333;
$text-color-10: #000;

// text plates

// yellows
$color-yellow-light: #ffef96;
$color-yellow-dark: #ffb900;

// reds
$color-red-light: #f7786b;
$color-red-dark: #c94c4c;

// orange
$color-orange-light: #ff7b25;
$color-orange-dark: #c1502e;

// FONTS SIZE
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 1.5rem;
$gutter-horizontal: 6rem;

// SHADOW BOX
$shadow-box-default: 0 7px 12px rgba(0, 0, 0, 0.5);
$shadow-box-default-high: 0 1px 20px rgba(0, 0, 0, 0.2);

// SCREEN SIZE
$small-size-screen: 142rem;
