.navigation {
  position: sticky;
  top: 0;
  right: 0;
  width: 100%;
  @media screen and (max-width: 1200px) {
    width: $small-size-screen;
  }
  display: flex;
  height: 9rem;
  @media screen and (max-width: 800px) {
    height: 13rem;
  }
  background-color: #000;
  justify-content: space-around;
  align-items: center;
  z-index: 3;
  background-color: rgba(#000000, 0.4);

  padding-right: 0.8rem;

  @include box-shadow-1;
  &__menu-items {
  }
  &__menu-items li {
    display: inline-block;
    margin-left: 4rem;
    @media screen and (max-width: 800px) {
      font-size: 3.4rem;
      width: 20rem;
      height: 7rem;
    }
  }
}

.header-tools {
  color: $text-color-0;
  z-index: 100;
  font-size: 2.5rem;
  font-weight: 400;

  @media screen and (max-width: 800px) {
    font-size: 4rem;
  }

  &__list li {
    display: inline-block;
    vertical-align: middle;
  }

  &__github-icon {
    margin-top: -0.9rem;
    font-size: 5rem;
    margin-right: 1rem;
  }

  & :link,
  & :visited,
  & :active {
    color: $text-color-0;
  }
}
