.header {
  height: 97vh;
  width: 100%;
  margin-top: -9rem;
  @media screen and (max-width: 800px) {
    margin-top: -13rem;
  }
  margin-bottom: 38rem;
  @media screen and (max-width: 1200px) {
    width: $small-size-screen;
  }
  @media screen and (max-width: 1200px) {
    width: $small-size-screen;
  }

  display: block;
  z-index: 1;
  overflow: hidden;
  background-image: linear-gradient(
      rgba($color-primary-light, 0.48),
      rgba($color-primary-dark, 0.4)
    ),
    url('../img/background.jpg');
  background-size: cover;
  clip-path: polygon(
    20% 0%,
    80% 0%,
    100% 0,
    100% 74%,
    73% 81%,
    31% 91%,
    0 100%,
    0 0
  );

  position: relative;
  &__box {
    @include centerAbsolute;
    text-align: center;
    z-index: 100;

    h1,
    h2 {
      border-radius: 2.5rem;
      p {
        padding: 1rem;
        border-radius: 1rem;
        width: 130rem;
        background: linear-gradient(
          to top,
          rgba(#fff, 1) 40%,
          rgba($color-primary-light, 1) 10%
        );
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: $shadow-box-default;
      }
    }
    h1 {
      animation: moveLeft 1.2s 1s backwards ease-out;
      background-color: rgba($text-color-10, 0.3);
      // color: $text-color-0;
      @include box-shadow-2;
      p {
        font-size: 8.5rem;
        font-weight: 700;
      }
    }
    h2 {
      font-size: 5rem;
      color: $text-color-1;
      letter-spacing: 2.7rem;
      text-align: center;
      margin-top: 1.2rem;

      background-color: rgba($text-color-10, 0.3);
      color: $text-color-0;
      animation: moveRight 1.2s 1.2s backwards ease-out;
      @include box-shadow-2;
    }
  }
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -20;
  opacity: 0.55;
  filter: blur(3px) brightness(110%);
  overflow: hidden;
  height: 99%;
}
.bg-video__content {
  width: 100%;
  //height: 118.5rem;
  object-fit: cover;
}

.about-us-container {
  margin-top: 1.5rem;
}
.about-us {
  height: 100rem;
  width: 100rem;
  &__avatar {
    background-image: url('../img/avatar.png');
    width: 20%;
    height: 20%;
    background-size: cover;
    border-radius: 50%;
    border: 3px solid #777;
    @include box-shadow-1;
  }
}

.tech-container {
  margin-top: -18rem;
  padding-top: 6rem;
  padding-bottom: 55rem;
  position: relative;
  @media screen and (max-width: 1199px) {
    width: 142rem;
  }
  height: 150rem;
}

.tech {
  &__icon {
    font-size: 10rem;
  }
  & .row {
    margin-bottom: 8rem;
  }
}

// icons
.fac-database {
  background-image: url('../img/svg/database.svg');
  background-repeat: no-repeat;
  background-color: red;
  display: block;
  height: 10rem;
  width: 10rem;
}

.section-info__container {
  margin-top: -20rem;
  background: linear-gradient(
      rgba($color-primary-light, 0.68),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/header_3.jpg);
  height: 138rem;
  background-size: cover;
  transform: skewY(-7deg);
  @media screen and (max-width: 1199px) {
    width: $small-size-screen;
  }
  .wrapper {
    transform: skewY(6deg);
    padding-top: 17rem;
  }
}
